
body {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto auto auto;
}

code {
    font-size: 25px;
}

header {
grid-column: 1/15;
justify-self: center;
}

nav {
        grid-column: 1/15;
        grid-row: 2/2;
        justify-self: center;
        margin-bottom: 100px;
}

.nav-item {
    border-width: 0px;
    display: inline;
    padding: 2px;
    font-size: 20px;
    font-display: #57A0D7;
    color: #57A0D7;
    
}

#nav-item-2{
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 4px;
    border-color: black;
}

main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    grid-column: 2/5;
}



.section-heading {
    margin:0;
    color: #57A0D7;
}

#today-working-on{
    grid-column: 1/9;
}

#today-working-on > p {
    padding-top: 25px;
}


#habits {
    grid-column: 10/13;
}

#habits > ul {
    font-size: 20pt;
    position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

#habits > ul > li:before {
	content: "+";
	position: absolute;
	left: 0;
    color: #57A0D7;

}


#logo {
    font-size: 55px;
}

p {
    
    margin:0px;
    font-size: 30px;
    align-self: center;
    padding-top: 50px;

}